<!-- Header -->
<div class="indexheaderbg  d-flex align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-end">
      <div class="col-xs-12 col-lg-7 d-flex align-items-center leftbox">
        <img src="/assets/oa-dopp-products.png" srcset="/assets/oa-dopp-products@2x.png 2x">
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center col-lg-5 col-xs-12 rightbox">
        <p class="title-thankyou">Thank you for participating in our 30-Day Refer a Friend Challenge!</p>
        <p class="title2-thankyou">The Challenge has now ended. We will follow-up with all participants using the email address used to register.<br><br> Questions? Please contact us at hi@oarsandalps.com</p>
      </div>
    </div>
  </div>
</div>

<!-- Header End -->

<!-- Steps Start -->
<div class="container steps steps-index">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h2 class="steps-header text-center">SOME OF OUR PRODUCT BENEFITS</h2>
    </div>
  </div>
  <div class="row justify-content-center justify-content-lg-between steps-body">
    <div class="col-6 col-md-4 col-lg-2 text-center step">
      <div class="step-img-container d-flex align-items-center text-center">
        <img class="step-img" src="/assets/sketchy-fly.svg">
      </div>
      <div class="step-body text-center">
        <p class="step-content text-center">Travel/<br>TSA-friendly</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 text-center step">
      <div class="step-img-container d-flex align-items-center text-center">
        <img class="step-img" src="/assets/sketchy-travel.svg">
      </div>
      <div class="step-body text-center">
        <p class="step-content text-center">Spill proof.<br>Great for your bag</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 text-center step">
      <div class="step-img-container d-flex align-items-center text-center">
        <img class="step-img" src="/assets/sketchy-rotate.svg">
      </div>
      <div class="step-body text-center">
        <p class="step-content text-center">Good for any<br>skin type</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 text-center step">
      <div class="step-img-container d-flex align-items-center text-center">
        <img class="step-img" src="/assets/shape.svg">
      </div>
      <div class="step-body text-center">
        <p class="step-content text-center">Natural<br>ingredients</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 text-center step">
      <div class="step-img-container d-flex align-items-center text-center">
        <img class="step-img" src="/assets/bunny.svg">
      </div>
      <div class="step-body text-center">
        <p class="step-content text-center">Never tested on<br>animals</p>
      </div>
    </div>
  </div>
</div>
<!-- Steps End -->

<div class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-xs-12">
        <div class="text-center">
          <%= link_to 'Privacy & Terms', "https://www.oarsandalps.com/pages/privacy", target: '_blank', class: "privacy-link" %>
        </div>  
      </div>
    </div>
  </div>
</div>