<div class="pop-up">
  <div class="content-pop">
    <button class="close">X</button>
    <div class="video-wrapper"></div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jfrjeg26Cwk?modestbranding=1&amp;showinfo=0" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
      $('.play').click(function (e) {
          e.preventDefault();
          var video = '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/HyN-Wtdurnk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>';
          $('.video-wrapper').html(video);
          $('.pop-up').show();
          $('.pop-up').addClass("show-pop");
      });
      $('.close').click(function () {
          $('.video-wrapper').empty();
          $('.pop-up').removeClass("show-pop");
          $('.pop-up').hide();
      });
  });
</script>